/* Background */

body {
    background-image: url("../images/grass.jpg");
    height: 100%;
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Sign In form */

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.logo {
    width: 200px;
}

/* Sidebar */

.sidebar-bg {
    background-color: rgba(16, 133, 16, 0.333)
}

.active {
    background-color: rgb(9, 155, 9)!important;
}

.nav-link:hover {
    opacity: 0.5;
}

/* Buttons */

.btn-success {
    background-color: rgb(9, 155, 9)!important;
    border-color: rgb(9, 155, 9)!important;
}

.btn-outline-success {
    border-color: rgb(9, 155, 9)!important;
    color: rgb(9, 155, 9)!important;
}

.btn-outline-success:hover {
    background-color: rgb(9, 155, 9)!important;
    color: rgb(255, 255, 255)!important;
}

/* Footer */

.footer-bg {
    background-color: rgba(16, 133, 16)
}