.active {
    background-color: gray !important;
}
.nav-link:hover {
    opacity: 0.5;
}

/* Pagination */

.pagination > li > a {
    padding: 6px 12px;
    margin: 0 3px;
    color: inherit;
}
.pagination > li > a:hover {
    color: black;
    background-color: lightgray;
}
.same-page {
    background-color: gray !important;
    border-color: dimgray !important;
}